html
  head
    title Three.Js Boilerplate
  body
    block scripts
      script(src=config.project.deps)
      script(src=config.project.bundle)
      script(src="//localhost:35729/livereload.js")
      link(href=config.project.css, rel='stylesheet')
    div.wrapper
      div.three-canvas
